<p><strong>Register</strong></p>
<form id='register' action='/users' method='post'>
  <label>email:</label>
    <input type='text' name='email'>
  <br>
  <label>phone:</label>
  <input id="phone" type="text" name="phone">
  <br>
  <label>password:</label>
    <input type='password' name='password'>
  <br>
  <input type='submit' value='create account'>
</form>
