<h1>Snow Days</h1>
<br>
<br>
<p>To see your favorite resorts (or favorite new resorts), log in in the upper right hand corner.</p>
<p>To check the snowfall of a particular resort, use the button on the left hand panel to navigate to the resorts index.</p>
